/* Estilo geral
============ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

/* Estilo do navbar
================ */
header {
  background-color: #f2f2f2;
  border-bottom: 2px solid #e6e6e6;
  display: flex;
  font-size: 17px;
  height: 44px;
  letter-spacing: 1px;
  padding-left: 5px;
  width: 100%;
}

h2 {
  color: #2f4eda;
  font-family: Cinzel, serif;
  line-height: 44px;
  margin-left: 35px;
  width: 100%;
}

nav {
  width: 100%;
}

ul {
  display: flex;
  justify-content: flex-end;
  line-height: 44px;
  list-style-type: none;
  margin: 0 28px 0 0;
}

li a {
  color: #394e66;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0 8px;
  text-decoration: none;
}

li a:hover {
  color: #000000;
  border-bottom: 3px solid #000000;
}

.ativo {
  border-bottom: 3px solid #2f4eda;
  color: #2f4eda;
}

.ativo:hover {
  border-bottom: 3px solid #2f4eda;
  color:  #2f4eda;
}

/* Estilo da galeria de filmes 
=========================== */
h3 {
  color: #394E66;
  line-height: 25px;
  margin: auto;
  margin-top: 20px;
  padding: 20px 0 8px 0;
  text-align: center;
}

.inicio-galeria {
  color: #4e657f;
  font-weight: 700;
  margin: auto;
  padding: 24px 0 10px 0;
  text-align: left;
  width: 95%;
}

.galeria {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
  width: 95%;
}

.galeria > div {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 #33333333;
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: space-around;
  margin: 1%;
  text-align: center;
  vertical-align: middle;
  width: 23%;
}

.galeria > div:hover {
  border: 1px solid #2f4eda;;
  box-shadow: 0 4px 6px 0 ;
}

.galeria > div p:first-child {
  color: #394E66;
  font-weight: bold;
}

/* Estilo do footer 
================ */
footer {
  background-color: #f2f2f2;
  border-top: 2px solid #e6e6e6;
  color: #394E66;
  font-family: Cinzel, serif;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

/* Design responsivo 
================= */
@media (max-width: 540px) {
  ul {
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin: 0;
    padding: 0;
    width: auto;
  }
}

@media (max-width: 850px) {
  header {
    flex-direction: column;
    height: auto;
  }

  h2 {
    margin: 0;
    text-align: center;
    width: auto;
  }

  ul {
    justify-content: center;
    line-height: 2;
    text-align: center;
    width: 100%;
  }

  .inicio-galeria {
    text-align: center;
  }

  .galeria > div {
    flex-grow: 1;
    width:100%;
  }
}