/* Estilo geral
============ */
* {
  box-sizing: border-box;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  font-size: 16px;
}

/* Estilo do navbar
================ */
header {
  background-color: #000000;
  display: flex;
  font-size: 17px;
  height: 40px;
  letter-spacing: 1px;
  width: 100%;
}

h2 {
  color: rgba(255, 0, 51, 1);
  font-family: Montserrat, sans-serif;
  line-height: 40px;
  margin-left: 32px;
  width: 50%;
}

nav {
  width: 100%;
}

ul {
  display: flex;
  justify-content: flex-end;
  line-height: 40px;
  list-style-type: none;
  margin: 0 40px 0 0;
}

li a {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  margin-left: 15px;
}

li a:hover {
  color: rgba(255, 0, 51, 1);
}

.ativo {
  color: rgba(255, 0, 51, 1);
}

/* Estilo da linha do tempo
======================== */
aside {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 15px;
  top: 15px;
}

.conteudo-dropdown {
  background-color: #333333;
  cursor: pointer;
  display: none;
  width: 78px;
}

.conteudo-dropdown a {
  color: rgb(217, 217, 217);
  display: block;
  font-size: 15px;
  padding: 10px 2px;
  text-align: center;
  text-decoration: none;
}

.conteudo-dropdown a:hover {
  background-color: #1a1a1a;
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* Estilo da galeria de filmes
=========================== */
.inicio-galeria {
  background-color: #1a1a1a;
  font-size: 24px;
  padding: 24px 0 10px 0;
  text-align: center;
  width: 100%;
}

section {
  background-color: #1a1a1a;
  border-bottom: 1px solid #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 5px 5px 17px 0;
  width: 83%;
}

section > div:hover {
  border: 1px solid #ffffff;
  border-radius: 9px;
  box-shadow: 0 2px 3px 0 #ffffff;
  cursor: pointer;
}

/* Estilo do hover overlay
======================= */
.galeria {
  margin: 0 12px 12px 0;
  position: relative;
}

.imagem {
  height: auto;
  width: 100%;
}

.galeria:hover .imagem {
  opacity: 0.5;
}

.texto {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 9px;
  color: white;
  font-size: 22px;
  height: 100%;
  line-height: 1.5;
  opacity: 0;
  padding: 0 2px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: .5s ease;
  width: 100%;
}

.galeria:hover .texto {
  opacity: 1;
}

.texto p:first-child {
  margin-top: 45%;
}

/* Estilo das imagens
================== */
img {
  border-radius: 9px;
  height: auto;
  max-width: 100%;
}

/* Estilo do footer 
================ */
footer {
  background-color: #000000;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

/* Design responsivo 
================= */
@media (max-width: 409px) {
  header {
    flex-direction: column;
    height: auto;
  }

  h2 {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  
  ul {
    flex-direction: column;
    line-height: 2;
    text-align: center;
    width: 100%;
  }

  aside {
    top: 10px;
    right: 10px;
  }

  .inicio-galeria{
    padding-left: 50px;
    text-align: left;
  }

  section {
    border: none;
    justify-content: flex-start;
    margin-left: 14px;
    padding: 0;
    width: 70%;
  }
}

@media (max-width: 815px) and (min-width: 410px) {
  header {
    flex-direction: column;
    height: auto;
  }

  h2 {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  
  ul {
    justify-content: center;
    line-height: 2;
    text-align: center;
    width: 100%;
  }

  section {
    border: none;
    padding: 5% 7%;
  }
}