/* Estilo geral
============ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

/* Estilo do navbar
================ */

header {
  background-color: #000000;
  display: flex;
  font-size: 17px;
  height: 40px;
  letter-spacing: 1px;
  width: 100%;
}

.logo {
  color: rgba(255, 0, 51, 1);
  font-family: Montserrat, sans-serif;
  line-height: 40px;
  margin-left: 32px;
  text-transform: uppercase;
  width: 50%;
}

nav {
  width: 100%;
}

ul {
  display: flex;
  justify-content: flex-end;
  line-height: 40px;
  list-style-type: none;
  margin: 0 40px 0 0;
}

li a {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  margin-left: 15px;
}

li a:hover {
  color: rgba(255, 0, 51, 1);
}

.ativo {
  color: rgba(255, 0, 51, 1);
}

/* Estilo do menu lateral
====================== */

aside {
  display: flex;
  flex-direction: column;
  height: 422px;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 43px;
}

.menu-lateral {
  background-color: #333333;
  display: none;
  text-align: center;
  width: 3rem;
}

.menu-lateral a {
  color: rgb(217, 217, 217);
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

.menu-lateral a:hover {
  background-color: #1a1a1a;
  border: 1px solid rgb(255, 0, 51);
  color: rgb(255, 0, 51);
}

/* Estilo da galeria de filmes
=========================== */

.inicio-galeria {
  background-color: #1a1a1a;
  font-size: 24px;
  margin: 30px auto 10px;
  text-align: center;
  width: 85%;
}

section {
  background-color: #1a1a1a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 5px 0;
  width: 85%;
}

section > div:hover {
  border: 1px solid #ffffff;
  border-radius: 9px;
  box-shadow: 0 2px 3px 0 #ffffff;
  cursor: pointer;
}

/* Estilo do hover overlay
======================= */

.galeria {
  border-radius: 9px;
  height: 301px;
  margin: 5px;
  position: relative;
  width: 201px;
}

.imagem {
  border-radius: 9px;
}

.galeria:hover .imagem {
  opacity: 0.5;
}

.texto {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 9px;
  color: white;
  font-size: 22px;
  height: 100%;
  line-height: 1.5;
  opacity: 0;
  padding: 0 2px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: .5s ease;
  width: 100%;
}

.galeria:hover .texto {
  opacity: 1;
}

.texto p:first-child {
  margin-top: 45%;
}

/* Estilo do footer 
================ */

footer {
  background-color: #000000;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

/* Design responsivo 
================= */

@media screen and (max-height: 540px) {
  aside {
    height: 180px;
  }

  .inicio-galeria {
    width: 35%;
  }

  section {
    width: 35%;
  }

  .texto {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 900px) {
  header {
    flex-direction: column;
    height: auto;
  }

  .logo {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  
  ul {
    font-size: 13px;
    justify-content: center;
    line-height: 2;
    text-align: center;
    width: 100%;
  }

  aside {
    height: 200px;
    top: 70px;
  }

  .inicio-galeria {
    max-width: 55%;
  }

  section {
    max-width: 55%;
  }

  .galeria {
    height: auto;
    margin-top: 10px;
    width: 100%
  }

  .texto {
    font-size: 1rem;
  }
}