/* Estilo geral
============ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

/* Estilo do navbar
================ */
header {
  background-color: #f2f2f2;
  border-bottom: 2px solid #e6e6e6;
  display: flex;
  font-size: 17px;
  height: 40px;
  letter-spacing: 1px;
  width: 100%;
}

h2 {
  color: #2f4eda;
  font-family: Cinzel, serif;
  line-height: 40px;
  margin-left: 35px;
  width: 100%;
}

nav {
  width: 100%;
}

ul {
  display: flex;
  justify-content: flex-end;
  line-height: 40px;
  list-style-type: none;
  margin-right: 35px;
}

li a {
  color: #394e66;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0 8px;
  text-decoration: none;
}

li a:hover {
  color: #000000;
  border-bottom: 3px solid #000000;
}

.ativo {
  border-bottom: 3px solid #2f4eda;
  color: #2f4eda;
}

.ativo:hover {
  border-bottom: 3px solid #2f4eda;
  color:  #2f4eda;
}

/* Estilo da galeria de filmes 
=========================== */
.container-dados {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
}

.total-encontrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5px;
  padding: 0;
  width: 30%;
}

#total-filmes, #total-diretores {
  margin: auto;
  text-align: center;
  width: 100%;
}

h3 {
  color: #394E66;
  line-height: 25px;
  margin: auto;
  margin-top: 20px;
  padding: 20px 0 8px 0;
  text-align: center;
}

.ordem {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
  width: 95%;
}

.ordem button {
  background-color: #ffffff;
  border: 1px solid #2f4eda;
  border-radius: 9px;
  color: #394E66;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 20px;
  padding: 10px;
  width: 200px;
}

button:hover {
  background-color: #2f4eda;
  color: #ffffff;
  cursor: pointer;
}

.container-lista > div {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
}

#itens-lista p {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 #33333333;
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: center;
  line-height: 1.5;
  margin: 0.5%;
  padding-left: 5px;
  text-align: center;
  vertical-align: middle;
  width: 19%;
}

#itens-lista > p:hover {
  border: 1px solid #2f4eda;
  box-shadow: 0 4px 6px 0;
}

/* Estilo da Seta 
============== */
.topo {
  background-color: rgba(47, 78, 218, 0.5);
  border: none;
  border-radius: 100%;
  bottom: 27px;
  box-shadow: 0 5px #999;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  height: 48px;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 15px;
  width: 48px;
}

.topo:hover {
  background-color: rgba(47, 78, 218, 0.8);
}

.topo:active {
  background-color: rgba(47, 78, 218, 1);
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

/* Estilo do footer 
================ */
footer {
  background-color: #f2f2f2;
  border-top: 2px solid #e6e6e6;
  color: #394E66;
  font-family: Cinzel, serif;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

/* Design responsivo 
================= */
@media (max-width: 579px) {
  header {
    flex-direction: column;
    height: auto;
  }

  h2 {
    margin: 0;
    text-align: center;
    width: auto;
  }

  ul {
    flex-direction: column;
    justify-content: center;
    line-height: 2;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .container-dados {
    flex-direction: column;
    margin: auto;
    width: 95%
  }

  .total-encontrado {
    margin: auto;
  }

  .ordem {
    flex-direction: column;
  }

  .ordem button {
    margin: 8px auto;
  }

  #itens-lista p {
    height: 140px;
    width: 100%;
  }
}

@media (max-width: 890px) and (min-width: 580px) {
  header {
    flex-direction: column;
    height: auto;
  }

  h2 {
    margin: 0;
    text-align: center;
    width: auto;
  }

  ul {
    justify-content: center;
    line-height: 2;
    text-align: center;
    width: 100%;
  }

  .container-dados {
    flex-direction: column;
    margin: auto;
    width: 95%
  }

  .total-encontrado {
    margin: auto;
  }

  .ordem {
    flex-direction: column;
  }

  .ordem button {
    margin: 8px auto;
  }

  #itens-lista p {
    width: 48%;
  }
}